#myContainer{
    height: 550px;
    width: 80%;
    padding: 1% 1% 1% 1%;
    margin: 5%;
    background-color: #F9FBFD;
    font-family: Arial, Helvetica, sans-serif;
    
}
h1 {
    text-align: center;
    font-weight: 650;
}
h2{
    text-align: left;
    font-weight: 600;
}
#level2{
    height: 450px;
    width: 100%;
    padding: 3% 3% 3% 3%;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
}

#level3{
    border-top: 2px solid #E7E9EB;
    border-bottom: 2px solid #E7E9EB;
    height: 200px;
    width: 100%;
    padding: 3% 3% 3% 3%;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
}
#level4{
    font-size: 18px;
    font-weight: 500;
    font: bold;
    word-spacing: 3px;
    border: 3px dashed #C0C7CF;
    height: 150px;
    width: 100%;
    padding: 3% 3% 3% 3%;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    color: hsl(0, 0%, 70%);
}
#mybuttonL{
    font-size: 22px;
    font: bold;
    color: white;
    background-color: #AF0808;
    text-align: center;
    padding: 10px;
}
#mybuttonR{
    font-size: 22px;
    color: white;
    background-color: #C0C7CF;
    text-align: center;
    padding: 10px;   
}
#myButton{
    font-size: 22px;
    text-decoration: none;
    color: white;
    background-color: #AF0808;
    border: none;
}
#copyPass{
    font-size: 22px;
    text-decoration: none;
    color: white;
    background-color: #C0C7CF;
    border: none;
}

#myButton:hover, #copyPass:hover{
    text-decoration: none;
    color: black;
    border: none;
    
}
#buttonsRow{
    height: 50px;
    margin: auto;
    padding: 10px;
}
#slider{
    font-size: 20px;
    color: hsl(0, 0%, 40%);
    padding: 5px;
}
#lastRow{
    margin-top: 20px;
}
.checkBoxCol{
    font-size: 20px;
    color: hsl(0, 0%, 50%);
    padding: 0px 5px auto 5px;
    margin: 0px 10px auto 10px;
}
.checkBox{
    margin: 5px;
}
#passWord{
    font-size: 20px;
    font-weight: 650;
    color: #46A049;
    display: inline-flex;
    /*The bellow preventes long strings to overflow, but still don't understand yet*/
    -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     hyphens: auto;
}

